#wrapper
  -classes = current_trainer.get_classes
  -if classes.empty?
    %h1 No ha ingresado ningúna clase
  -else

    .row
      .small-12
        %table
          %thead
            %tr
              %th{:width => "30%"} Clases
              %th{:width => "40%"} Objetivos
              %th{:width => "30%"} Acciones
          %tbody
            -classes.each do |p|
              %tr
                %td.pupil_name=p.get_name
                %td This is longer content Donec id elit non mi porta gravida at eget metus.
                %td
                  %a.add_hour_pupil{data: {"reveal-id" => "add_hour", pupil: p.id}, :href => "#"}
                    Agregar Hora


  %ul#myTags
    %li Tag1
    %li Tag2
  %a{"data-reveal-id" => "add_class", :href => "#"}
    %button.total Agregar Clase








#add_hour.reveal-modal{"data-reveal" => ""}
  %h2 Agregar hora
  = simple_form_for @pupil_hour, :url => add_pupil_trainer_index_path do |f|
    =hidden_field_tag "pupil_id", ''
    %input.datepicker{type: "text"}
    -hours =create_hours(:start_time => 5.hours, :end_time => 23.hours)
    %select=options_for_select hours, DateTime.now.strftime("%I:00 %p")
  %a{class: "close-reveal-modal"}="&#215;".html_safe

#add_class.reveal-modal{"data-reveal" => ""}
  %h2 Agregar Clase
  = simple_form_for @pupil_hour, :url => add_pupil_trainer_index_path do |f|
    =hidden_field_tag "pupil_id", ''
    %input.datepicker{type: "text"}
    -hours =create_hours(:start_time => 5.hours, :end_time => 23.hours)
    %select=options_for_select hours, DateTime.now.strftime("%I:00 %p")
  %a{class: "close-reveal-modal"}="&#215;".html_safe



:javascript
  var today = "#{@today}";

  $(document).ready(function(){
    $('body').on('click', '.add_hour_pupil',function(){
      var pupil = $(this).data('pupil')
    })
    $("#myTags").tagit({
      availableTags: #{@aviable_pupils}
    });
  })
