#wrapper
  %h1 Mis Clases
  -classes = current_trainer.get_classes
  -if classes.empty?
    %h1 No ha ingresado ningúna clase
  -else

    .row
      .small-12
        %table.total
          %thead
            %tr
              %th{width: "50%"} Integrantes
              %th{width: "50%"} Acciones
          %tbody
            -classes.each do |c|
              %tr
                %td
                  -c.pupils.each do |p|
                    .pupil_name=p.get_name
                %td
                  %a.add_hour_pupil{data: {"reveal-id" => "add_hour", class_id: c.id, }, :href => "#"}
                    Agregar Hora
                  %a{href: '#'}
                    Editar Clase










#add_hour.reveal-modal{"data-reveal" => ""}
  %h2 Agregar hora
  = simple_form_for @pupil_hour, :url => add_hour_in_class_trainer_index_path do |f|
    =hidden_field_tag "[pupil_hour][training_class_id]", ''
    %input.datepicker{name:"[pupil_hour][date_class]", type: "text"}
    -hours= create_hours(start_time: 5.hours, end_time: 23.hours, increment: 15.minutes)
    =f.input :time_class, collection: hours, selected: time_now
    = f.button :submit, class: 'total'
  %a{class: "close-reveal-modal"}="&#215;".html_safe





:javascript
  var today = "#{@today}";


  $(document).ready(function(){
    $('body').on('click', '.add_hour_pupil',function(){

      var class_id = $(this).data('class-id')
      console.log(class_id)
      $('#_pupil_hour_training_class_id').val(class_id)
    })
    $( ".datepicker" ).datepicker( "setDate" , today );
  })
