%nav.top-bar{"data-topbar" => "", :role => "navigation"}
  %ul.title-area
    %li.name
      %h1
        %a{href: root_path} Portal Entrenasano

  /   %li.toggle-topbar.menu-icon
  /     %a{:href => "#"}
  /       %span Menu
  / %section.top-bar-section
  /   %ul.right
  /     %li.active
  /       %a{:href => "#"} Right Button Active
  /     %li.has-dropdown
  /       %a{:href => "#"} Right Button Dropdown
  /       %ul.dropdown
  /         %li
  /           %a{:href => "#"} First link in dropdown
  /         %li.active
  /           %a{:href => "#"} Active link in dropdown

  /   %ul.left
  /     %li
  /       %a{:href => "#"} Left Nav Button