%nav.top-bar{"data-topbar" => "", :role => "navigation"}
  %ul.title-area
    %li.name
      %h1
        %a{href: root_path}
          -if trainer_logged_in?
            =current_trainer.get_name
          -else
            Portal Entrenasano

    %li.toggle-topbar.menu-icon
      %a{:href => "#"}
        %span Menu
  %section.top-bar-section
    -if trainer_logged_in?
      %ul.left
        %li
          %a{:href => root_path} Inicio
        %li
          %a{:href => new_training_clas_path} Agregar Clase
        %li
          %a{:href => new_pupil_path} Agregar Alumno



      %ul.right
        %li
          =link_to('Salir', destroy_trainer_session_path, :method => :delete)
