#welcome
  .row
    .small-12
      %h1 Ingresar como:
    .small-12.large-6.columns
      .block_button
        %a{href: trainer_session_path}
          %button.go_login Profesor
    .small-12.large-6.columns
      .block_button
        %button.go_login Alumno