@import "compass";

body{
  background-color: #ecf0f1;
}

h1{
  font-size: 25px;
}
h2{
  font-size: 16px;
}
h3{
  font-size: 12px;
}
.underline{
  text-decoration: underline;
}

button, input[type="submit"]{
  @include border-radius(5px);
  &.green{
    color: white;
    background-color: #27ae60;
  }
  &.blue{
    color: white;
    background-color: #3498db;
  }
}

.total{
  width: 100%;
  max-width: 100%;
}

.block_button{
  text-align: center;
}

.logo{
  background-color: white;
  text-align: center;
  img{
    max-width: 200px;
  }
}

#welcome{
  .go_login{
    width: 100%;
  }
}

#wrapper{
  background-color: white;
  padding: 20px;
  .pupil_name{
    text-transform: capitalize;
  }
}
.pupil_name{
  text-transform: capitalize;
}

.list_last_hours{
  margin: 0;

  .box_time{
    font-size: 12px;
    text-align: center;
    width: 70px;
    margin: 5px;
    @include inline-block;
    .time{
      color: white;
      background-color: #e74c3c;
      @include border-radius(3px 3px 0 0);
    }
    .date{
      background-color: #ecf0f1;
      @include border-radius(0 0 3px 3px);
    }
  }
}