@import "compass";

body{
  background-color: #ecf0f1;
}

h1{
  font-size: 25px;
}

button, input[type="submit"]{
  @include border-radius(5px);
  &.green{
    color: white;
    background-color: #27ae60;
  }
}

.total{
  width: 100%;
  max-width: 100%;
}

.block_button{
  text-align: center;
}

.logo{
  background-color: white;
  text-align: center;
  img{
    max-width: 200px;
  }
}

#welcome{
  .go_login{
    width: 100%;
  }
}

#wrapper{
  background-color: white;
  padding: 20px;
  .pupil_name{
    text-transform: capitalize;
  }
}
.pupil_name{
  text-transform: capitalize;
}