%h1 Editar Clase
= simple_form_for @trainig_class, url: training_clas_path(@trainig_class), method: 'PUT' do |f|
  -hours =create_hours(start_time: 5.hours, end_time: 23.hours, increment: 15.minutes)
  =f.input :init_hour, collection: hours, selected: format_hour(@trainig_class.init_hour)
  =f.input :finish_hour, collection: hours, selected: format_hour(@trainig_class.finish_hour)
  %label Días de la semana
  %input#days_week{name: "[training_class][days]", value: @trainig_class.days.join(',') }
  .row.total
    -Pupil.all.each do |p|
      .small-6.columns
        %input{type: "checkbox", name:"[training_class][pupils][]", value: p.id, checked: (@trainig_class.pupils.include? p) }
          %span.pupil_name=p.get_name

  = f.button :submit, class: 'total'

  %h1 Horas registradas
  %table.total
    %thead
      %tr
        %th Hora
        %th Fecha
        %th Acción
    %tbody
      -(class_hours @trainig_class.pupil_hours).each do |ph|
        %tr
          %td=ph[:time]
          %td=ph[:date]
          %td
            %a{href: pupil_hour_path(ph[:id], training_class: @trainig_class.id)} Editar
            =link_to "Eliminar", pupil_hour_path(ph[:id], training_class: @trainig_class.id), :method => 'delete'


:javascript

